.runes{
    display: grid;  
}

.main-button{
    border-radius: 15px;
    margin: 20px;
    width: 160px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    box-shadow: 3px 3px 3px gold;
    background-color: transparent ;
    border-color: gold;
    color: gold;
    font-family: 'Caveat', sans-serif;

}

body{
    height: 100vh;
    margin: 0;
    background: rgb(50,50,50);
    background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(93,93,93,1) 100%);
}